<footer class="d-sm-flex ps-3 align-items-sm-end bg-danger" id="footer">
    <div class="d-lg-flex mt-auto">
        <p class="text-light d-flex justify-content-center"><strong>©&nbsp;</strong>Comtech Laptop Repair Shop, Gingoog City, 2023</p>
    </div>
</footer>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/chart.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="/assets/js/scripts.js"></script>