<footer class="d-sm-flex ps-3 align-items-sm-end bg-danger" id="footer">
    <div class="d-lg-flex mt-auto">
        <p class="text-light d-flex justify-content-center"><strong>©&nbsp;</strong>Comtech Laptop Repair Shop, Gingoog City, 2023</p>
    </div>
</footer>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/chart.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="/assets/js/scripts.js"></script>
<script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script> 
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
<script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
<script src="https://cdn.jsdelivr.net/npm/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
<script src="/assets/js/MessagesReactComp.js" type="text/babel"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>