* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

         
.btn-grad {
  background-image: linear-gradient(to right, #2f32ff 0%, #24c7dd  51%, #2f32ff  100%);
  text-transform: uppercase;
  transition: 0.5s !important;
  background-size: 200% auto;
  color: white !important;            

}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

