<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Tracking - QR Code Reader</title>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets2/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets2/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets2/icons/favicon-16x16.png">
        <link rel="manifest" href="/assets2/icons/site.webmanifest">
        <!-- Styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.2/dist/lux/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&amp;display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="/assets2/css/Search-Input-Responsive-with-Icon.css">
        <link rel="stylesheet" href="/assets2/css/styles.css">

        <script src="/assets2/js/html5-qrcode.min.js"></script>
        <style type="text/css">
            button {
              font-weight: 400 !important;
              text-align: center !important;
              white-space: nowrap !important;
              vertical-align: middle !important;
              user-select: none !important;
              border: 1px solid transparent !important;
              padding: 0.375rem 0.75rem !important;
              font-size: 1rem !important;
              line-height: 1.5 !important;
              border-radius: 0.25rem !important;
              transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;

              color: #fff !important;
              background-color: #d9534f !important;
              border-color: #d9534f !important;
              margin-bottom: 1rem;
            }

            button:hover {
              color: #fff !important;
              background-color: #b84743 !important;
              border-color: #b84743 !important;
            }

            button:focus,
            button.focus {
              outline: 0 !important;
              box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
            }
        </style>
    </head>

    <body>
        
        <div class="container text-center" style="max-width: 500px;">
            <a href="/tracking-app"><img id="logo" class="img-fluid pt-2" src="/assets2/img/comtech_logo_with_address-removebg-preview.png" width="400px" alt="comtech logo"></a>
            <h1 class="mt-2 text-danger">Scan QR Code</h1>
            <div id="reader"></div>
            
        </div>
        <div class="text-center" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">
           <div id="toast" class="m-2 px-3 py-0 rounded-1 bg-success text-light shadow" style="display: inline-block;">
             <span class="fs-3">Scan success!</span>
           </div>   
        </div>

        <script type="text/javascript">

            const toast = document.querySelector("#toast");
            
            const html5QrCodeScanner = new Html5QrcodeScanner(
                "reader",
                {
                  fps: 10,
                  qrbox: 250,
                }
              );

            html5QrCodeScanner.render(onScanSuccess);

            function onScanSuccess(qrCodeMessage) {
                const searchString = "https://comtechdashboard.onrender.com/";
                if(qrCodeMessage.includes(searchString)){
                    toast.style.display = "inline-block";
                    window.location.replace(qrCodeMessage);    
                } else {
                    alert("Invalid QR Code! Make sure to use the QR code from your job order receipt.")
                }
            }

        </script>
    </body>

</html>