* {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	background-color: cornflowerblue;
}

div	{
	text-align: center;
	margin: 100px;
}

img {
	height: 250px;
	width: 250px;

	border-radius: 50%;
}