#summary-card-1 {
  height: 100%;
}

#view-job-order-btn {
  border-radius: 10px;
  margin-top: 1rem;
  background: var(--bs-blue);
  width: 50%;
  border-style: none;
}

#add-job-order-btn {
  border-radius: 10px;
  margin-top: 1rem;
  background: var(--bs-green);
  width: 50%;
  border-style: none;
}

#sales-chart {
  padding: 1rem 0;
  border-radius: 10px;
  box-shadow: 3px 3px 6px;
  margin: 2rem 0;
  width: 100%;
  margin-bottom: 30px;
}

#sales-chart-caption {
  padding-top: .1rem;
  padding-bottom: .1rem;
}

#btn-search {
  padding: 3px 16px;
}

#search-input {
  width: 75%;
  border-radius: 5px;
  border-width: 2px;
  border-color: var(--bs-red);
  padding: 1px 10px;
  background-color: rgb(218, 218, 218);
}

#map {
  margin-top: 0;
  border-radius: 10px;
  margin-bottom: 2rem;
}

#job-order-table {
  border-radius: 10px;
  box-shadow: 3px 3px 6px;
}

.navbar {
  background: var(--bs-red);
  padding: 7px 0px;
}

#footer {
  height: 51px;
}

.mt-5 {
}

h3.add-job {
  background: var(--bs-yellow);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-row {
}

.form-label {
  color: var(--bs-red);
  font-weight: bold;
  font-style: italic;
}

.custom-input {
  border-width: 1px;
  border-style: solid;
  height: 37px;
  padding-right: 3px;
  padding-left: 18px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(85,89,92,0.26);
}

#sidebar-column {
}

.custom-tab {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: var(--bs-nav-link-disabled-color);
  box-shadow: 0px 0px 8px var(--bs-nav-tabs-link-active-color);
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.custom-nav {
}

.fas.fa-eye.custom-view-icon:hover {
  cursor: pointer;
}

.custom-label {
  margin-bottom: 0px;
}

.job-details {
  background: var(--bs-red);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

