<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <div class="container d-flex justify-content-center pt-3">
        <a class="d-flex justify-content-center" href="https://www.comtechgingoog.com/">
            <img id="logo" class="w-50 h-auto" src="/assets2/img/comtech_logo_with_address-removebg-preview.png" alt="comtech logo">
        </a>

    </div>
    <h2 class="text-center pt-5 text-danger">Opps! ERROR 404: The page you are trying to access does not exist!</h2>
    <h4 class="text-center pt-1">
        <a class="text-primary" href="https://www.comtechgingoog.com/">Click here to go back to the main site</a>
    </h4>
    <div class="d-flex justify-content-center">
        <img class="mt-3 img-fluid" src="https://media.tenor.com/Lq4OVfT6RhYAAAAi/you-cant-be-in-here-butters-stotch.gif" alt="waiting">
    </div>
</body>
</html>