<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <div class="container d-flex justify-content-center pt-3">
        <a class="d-flex justify-content-center" href="https://www.comtechgingoog.com/">
            <img id="logo" class="w-50 h-auto" src="/assets2/img/comtech_logo_with_address-removebg-preview.png" alt="comtech logo">
        </a>

    </div>
    <h2 class="text-center pt-3 text-success">Message successfully sent!</h2>
    <h4 class="text-center pt-1 text-danger">Please wait for 0-3 days for a reply to the contact number/email that you provided.</h4>
    <h5 class="text-center pt-1">
        <a class="text-primary" href="https://www.comtechgingoog.com/">Click here to go back to the main site</a>
    </h5>
    <div class="d-flex justify-content-center">
        <img class="mt-3 img-fluid" src="https://media.tenor.com/AFLSNpQpHVcAAAAi/my-melody.gif" alt="waiting">
    </div>
</body>
</html>